*.meta
*.DS_Store
Temp/
*.csproj
*.sln
*.userprefs
Library
*.vs/

# DO NOT REMOVE! YOUR PASSWORD WILL GET CHECKED IN, IF YOU REMOVE THE LINE BELOW
#**/LogglyCredential.cs
# DO NOT REMOVE! YOUR PASSWORD WILL GET CHECKED IN, IF YOU REMOVE THE LINE ABOVE
